body {
	font-family: Arial;
}

table {
	border-collapse: collapse;
	margin: auto;
	width: 60%;
	border: 1px solid #1E5735;
}

td {
	text-align: center;
	border: 1px solid #1E5735;
    padding: 3px 7px 2px 7px;
	/* Prevent text selection */
	-webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

th {
	text-align: center;
    background-color: #1E5735;
    color: #F2F0E1;
}

fieldset {
	margin: auto;
	width: 35%;
}

header {
	position: relative;
	font-size: XX-Large;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #830300;
	margin: auto;
	width: 800px;
	background-color: #B6C48B;
}

footer {
	font-family: "Consolas";
	font-size: small;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #830300;
	margin: auto;
	width: 800px;
	background-color: #B6C48B;
}

#content1 {
	background-color: #EBE8CC;
	color: #1E5735;	
	margin: auto;
	padding: 10px;
	width: 780px;
}

#content2 {
	background-color: #F2F0E1;
	padding: 10px;
	width: 780px;
	margin: auto;
}

label {
    display: inline-block;
    clear: left;
    width: 120px;
    text-align: right;
}

input, select {
	box-sizing: border-box;
	display: inline-block;
	width: 130px;
}

button {
	position: relative;
	left: 25%;
}